<h1>SHOW EVENTS PAGE WHERE WE WANT TO DISPLAY ALL OF OUR EVENTS!</h1>


<div class="container">
    <div class="row" id ="eventsDisplayContainer">
        {{!-- CP: this col-md offset was added by me just copied some old code.  Feel free to play w/ --}}
        <div class="col-md-6 col-md-offset-3">
            Display Events somewhere like here...
            <div id="displayAllEventsSection">

            </div>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
<<<<<<< HEAD



            <button class="btn btn-default" id="goToAddEventsPageButton">Add More Events! <i class="fa fa-plus-square" aria-hidden="true"></i></button>

=======
            <button class="btn" id="goToAddEventsPageButton">Add More Events!</button>
>>>>>>> 497078304e3d9a550d92ef1ed79a6231d21b66da
        </div>
    </div>
</div>

<script src="assets/js/showEvents.js"> </script>