<h1>SHOW EVENTS PAGE WHERE WE WANT TO DISPLAY ALL OF OUR EVENTS!</h1>



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">



            <button class="btn" id="goToAddEventsPageButton">Add More Events!</button>

        </div>
    </div>
</div>

</script>