<h1>SHOW EVENTS PAGE WHERE WE WANT TO DISPLAY ALL OF OUR EVENTS!</h1>


<div class="container">
    <div class="row" id ="eventsDisplayContainer">
        {{!-- CP: this col-md offset was added by me just copied some old code.  Feel free to play w/ --}}
        <div class="col-md-6 col-md-offset-3">
            {{!-- Where Events will be displayed --}}
            <div id="displayAllEventsSection">
            </div>

            <div id="eventTitle">

            </div>

            <div id="eventDate">

            </div>

            <div id="eventDescription">

            </div>


            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <button class="btn btn-primary active" id="goToAddEventsPageButton">Add More Events!</button>

        </div>
    </div>
</div>

<script src="assets/js/showEvents.js"> </script>