body {
    background-color: rgb(171, 218, 171);
    background: url("http://jackalope-larp.com/wp-content/uploads/2017/08/calendar-1024x576.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Ubuntu";
    padding: 0 20rem 0 20rem;
}


h1 {
    color: rgb(244, 0, 22);
}

.pure-menu-link {
    color: rgb(7, 0, 2);
}

html {
    height: 100%;
}

.categories {
    color: rgb(224, 0, 22);
}

p {
    color: black;
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgb(224, 0, 22);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.btn btn-default {
    background-color: white;
    color: rgb(224, 0, 22);

}


/* CP added this. It's just dummy code to display our Events... */
#eventsDisplayContainer {
    background-color: black;
}